/* This is for the body style */

    body {
        font-family: Arial;
        color: #777;
        background: #777;
        width: 960px;
        font-size: 18px;
    }

/* Header style */
/* Can't seem to figure out why the difference between 0px and 1px is so giant under the padding property. Can't get space between the Header and Nav bar */

    .header {
        padding: 1px 16px;
        text-align: center;
        background: #ebebeb;
        color: #777;
        font-size: 30px;
    }

/* This is all the styling for the nav bar */

    .topnav {
        background-color: #ebebeb;
        overflow: hidden;
        text-align: center;
        font-size: 30px;
    }


/* Section */

    .section {

    }